// Place all the styles related to the GeneralPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

div.jumbotron {
  background-color: black;
  margin-bottom: 0;
  color: white;
}

.login-box {
  width: 400px;
  height: 200px;
  margin: auto;
  position: relative;
  top: 200px;
  background-color: #7F7F7F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    .btn {
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 5px;
    }
  }
}