<header>
  <div class="container-fluid">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="navbar-header">
          <%= link_to image_tag("bettersanctuslogo.png"), root_path, id: "logo" %>
        </div>
      </div>
    </div>
  </div>
</header>